.carot {
    width: 2em;
    height: 2em;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.carot svg {
    fill: var(--grey-font-color);
}

.carot:hover {
    filter: brightness(1.2);
}

.clicked {
    transform: rotate(180deg);
}