*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --grey-background: #202020;
  --header-background: #18181c;
  --main-background: #121212;
  --grey-font-color: #818181;
  --underline-color: #333;
  --white-font-color: #f5f5f5;
  --primary-color: #26bbff;
  background-color: var(--main-background);
}